--
-- PostgreSQL database dump
--

\restrict hcDd5ylPkOH3H9kG2P0GY8BxLHdnB2XxaNStmNkAlh2nVhe6vrseY5ldWuzzrPa

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: benefits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.benefits (
    benefit_id integer NOT NULL,
    benefit_name character varying(255) NOT NULL,
    category character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: benefits_benefit_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.benefits_benefit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: benefits_benefit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.benefits_benefit_id_seq OWNED BY public.benefits.benefit_id;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.companies (
    company_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    company_size_min integer,
    company_size_max integer,
    country character varying(100),
    city character varying(100),
    address text,
    url character varying(500),
    industry character varying(255),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: company_industries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_industries (
    company_id bigint NOT NULL,
    industry_id integer NOT NULL
);


--
-- Name: cv_job_matches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cv_job_matches (
    match_id bigint NOT NULL,
    cv_id bigint NOT NULL,
    match_type character varying(50) NOT NULL,
    search_group character varying(100),
    job_id bigint,
    match_score numeric(5,2),
    radar_data jsonb,
    gap_report jsonb,
    model_version character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT cv_job_matches_match_type_check CHECK (((match_type)::text = ANY ((ARRAY['search_group'::character varying, 'existing_job'::character varying, 'url_job'::character varying])::text[]))),
    CONSTRAINT cv_job_matches_score_check CHECK (((match_score IS NULL) OR ((match_score >= (0)::numeric) AND (match_score <= (100)::numeric)))),
    CONSTRAINT cv_job_matches_target_check CHECK (((((match_type)::text = 'search_group'::text) AND (search_group IS NOT NULL) AND (job_id IS NULL)) OR (((match_type)::text = ANY ((ARRAY['existing_job'::character varying, 'url_job'::character varying])::text[])) AND (job_id IS NOT NULL))))
);


--
-- Name: cv_job_matches_match_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cv_job_matches_match_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cv_job_matches_match_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cv_job_matches_match_id_seq OWNED BY public.cv_job_matches.match_id;


--
-- Name: industries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.industries (
    industry_id integer NOT NULL,
    industry_name character varying(255) NOT NULL
);


--
-- Name: industries_industry_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.industries_industry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: industries_industry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.industries_industry_id_seq OWNED BY public.industries.industry_id;


--
-- Name: job_benefits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_benefits (
    job_id bigint NOT NULL,
    benefit_id integer NOT NULL,
    is_inferred boolean DEFAULT false
);


--
-- Name: job_group_skill_weights; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_group_skill_weights (
    search_group character varying(100) NOT NULL,
    skill_id integer NOT NULL,
    weight_wi numeric(8,4) NOT NULL
);


--
-- Name: job_skills; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_skills (
    job_id bigint NOT NULL,
    skill_id integer NOT NULL,
    is_inferred boolean DEFAULT false
);


--
-- Name: jobs_job_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.jobs_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jobs (
    job_id bigint DEFAULT nextval('public.jobs_job_id_seq'::regclass) NOT NULL,
    company_id bigint,
    title character varying(500) NOT NULL,
    skills_desc text,
    description text,
    formatted_experience_level character varying(100),
    work_type character varying(100),
    location character varying(255),
    is_remote boolean DEFAULT false,
    listed_time timestamp with time zone,
    expiry_time timestamp with time zone,
    job_posting_url text,
    scraped_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    applies integer DEFAULT 0,
    views integer DEFAULT 0,
    fingerprint character varying(32),
    job_category character varying(100),
    search_group character varying(100),
    source_name character varying(50),
    source_id character varying(255),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: notification_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notification_templates (
    template_id bigint NOT NULL,
    template_code character varying(100) NOT NULL,
    channel character varying(30) DEFAULT 'in_app'::character varying NOT NULL,
    type character varying(50) DEFAULT 'system'::character varying NOT NULL,
    priority character varying(20) DEFAULT 'normal'::character varying NOT NULL,
    title_template character varying(255) NOT NULL,
    message_template text NOT NULL,
    action_url_template text,
    metadata_schema jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT notification_templates_channel_check CHECK (((channel)::text = ANY ((ARRAY['in_app'::character varying, 'email'::character varying, 'push'::character varying])::text[]))),
    CONSTRAINT notification_templates_priority_check CHECK (((priority)::text = ANY ((ARRAY['low'::character varying, 'normal'::character varying, 'high'::character varying, 'urgent'::character varying])::text[])))
);


--
-- Name: notification_templates_template_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.notification_templates_template_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: notification_templates_template_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.notification_templates_template_id_seq OWNED BY public.notification_templates.template_id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    notification_id bigint NOT NULL,
    user_id bigint NOT NULL,
    type character varying(50) DEFAULT 'system'::character varying NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    action_url text,
    entity_type character varying(50),
    entity_id bigint,
    status character varying(20) DEFAULT 'unread'::character varying NOT NULL,
    priority character varying(20) DEFAULT 'normal'::character varying NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    read_at timestamp without time zone,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT notifications_priority_check CHECK (((priority)::text = ANY ((ARRAY['low'::character varying, 'normal'::character varying, 'high'::character varying, 'urgent'::character varying])::text[]))),
    CONSTRAINT notifications_read_consistency_check CHECK ((((is_read = false) AND (read_at IS NULL)) OR (is_read = true))),
    CONSTRAINT notifications_status_check CHECK (((status)::text = ANY ((ARRAY['unread'::character varying, 'read'::character varying, 'archived'::character varying])::text[])))
);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.notifications_notification_id_seq OWNED BY public.notifications.notification_id;


--
-- Name: salaries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.salaries (
    salary_id integer NOT NULL,
    job_id bigint,
    min_salary numeric(18,2),
    max_salary numeric(18,2),
    med_salary numeric(18,2),
    currency character varying(10) DEFAULT 'VND'::character varying,
    pay_period character varying(20)
);


--
-- Name: salaries_salary_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.salaries_salary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: salaries_salary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.salaries_salary_id_seq OWNED BY public.salaries.salary_id;


--
-- Name: skills; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.skills (
    skill_id integer NOT NULL,
    skill_name character varying(255) NOT NULL,
    category character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    type character varying(100),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: skills_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.skills_skill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: skills_skill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.skills_skill_id_seq OWNED BY public.skills.skill_id;


--
-- Name: user_auth_providers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_auth_providers (
    auth_provider_id bigint NOT NULL,
    user_id bigint NOT NULL,
    provider character varying(50) NOT NULL,
    provider_user_id character varying(255) NOT NULL,
    provider_email character varying(255),
    provider_name character varying(255),
    provider_avatar_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login_at timestamp without time zone,
    CONSTRAINT user_auth_provider_check CHECK (((provider)::text = ANY ((ARRAY['local'::character varying, 'google'::character varying, 'facebook'::character varying])::text[])))
);


--
-- Name: user_auth_providers_auth_provider_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_auth_providers_auth_provider_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_auth_providers_auth_provider_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_auth_providers_auth_provider_id_seq OWNED BY public.user_auth_providers.auth_provider_id;


--
-- Name: user_cv_skills; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_cv_skills (
    cv_id bigint NOT NULL,
    skill_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_cvs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_cvs (
    cv_id bigint NOT NULL,
    user_id bigint NOT NULL,
    file_name character varying(255),
    file_url text,
    extracted_text text,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_cvs_cv_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_cvs_cv_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_cvs_cv_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_cvs_cv_id_seq OWNED BY public.user_cvs.cv_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    user_id bigint NOT NULL,
    full_name character varying(255),
    email character varying(255),
    password_hash text,
    avatar_url text,
    role character varying(50) DEFAULT 'student'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['student'::character varying, 'admin'::character varying])::text[])))
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: benefits benefit_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.benefits ALTER COLUMN benefit_id SET DEFAULT nextval('public.benefits_benefit_id_seq'::regclass);


--
-- Name: cv_job_matches match_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cv_job_matches ALTER COLUMN match_id SET DEFAULT nextval('public.cv_job_matches_match_id_seq'::regclass);


--
-- Name: industries industry_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.industries ALTER COLUMN industry_id SET DEFAULT nextval('public.industries_industry_id_seq'::regclass);


--
-- Name: notification_templates template_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notification_templates ALTER COLUMN template_id SET DEFAULT nextval('public.notification_templates_template_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications ALTER COLUMN notification_id SET DEFAULT nextval('public.notifications_notification_id_seq'::regclass);


--
-- Name: salaries salary_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.salaries ALTER COLUMN salary_id SET DEFAULT nextval('public.salaries_salary_id_seq'::regclass);


--
-- Name: skills skill_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skills ALTER COLUMN skill_id SET DEFAULT nextval('public.skills_skill_id_seq'::regclass);


--
-- Name: user_auth_providers auth_provider_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_auth_providers ALTER COLUMN auth_provider_id SET DEFAULT nextval('public.user_auth_providers_auth_provider_id_seq'::regclass);


--
-- Name: user_cvs cv_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_cvs ALTER COLUMN cv_id SET DEFAULT nextval('public.user_cvs_cv_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: benefits benefits_benefit_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.benefits
    ADD CONSTRAINT benefits_benefit_name_key UNIQUE (benefit_name);


--
-- Name: benefits benefits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.benefits
    ADD CONSTRAINT benefits_pkey PRIMARY KEY (benefit_id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (company_id);


--
-- Name: company_industries company_industries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_industries
    ADD CONSTRAINT company_industries_pkey PRIMARY KEY (company_id, industry_id);


--
-- Name: cv_job_matches cv_job_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cv_job_matches
    ADD CONSTRAINT cv_job_matches_pkey PRIMARY KEY (match_id);


--
-- Name: industries industries_industry_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.industries
    ADD CONSTRAINT industries_industry_name_key UNIQUE (industry_name);


--
-- Name: industries industries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.industries
    ADD CONSTRAINT industries_pkey PRIMARY KEY (industry_id);


--
-- Name: job_benefits job_benefits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_benefits
    ADD CONSTRAINT job_benefits_pkey PRIMARY KEY (job_id, benefit_id);


--
-- Name: job_group_skill_weights job_group_skill_weights_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_group_skill_weights
    ADD CONSTRAINT job_group_skill_weights_pkey PRIMARY KEY (search_group, skill_id);


--
-- Name: job_skills job_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_pkey PRIMARY KEY (job_id, skill_id);


--
-- Name: jobs jobs_fingerprint_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_fingerprint_key UNIQUE (fingerprint);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (job_id);


--
-- Name: notification_templates notification_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notification_templates
    ADD CONSTRAINT notification_templates_pkey PRIMARY KEY (template_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: salaries salaries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.salaries
    ADD CONSTRAINT salaries_pkey PRIMARY KEY (salary_id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (skill_id);


--
-- Name: benefits unique_benefit_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.benefits
    ADD CONSTRAINT unique_benefit_name UNIQUE (benefit_name);


--
-- Name: skills unique_skill_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT unique_skill_name UNIQUE (skill_name);


--
-- Name: user_auth_providers user_auth_provider_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_auth_providers
    ADD CONSTRAINT user_auth_provider_unique UNIQUE (provider, provider_user_id);


--
-- Name: user_auth_providers user_auth_providers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_auth_providers
    ADD CONSTRAINT user_auth_providers_pkey PRIMARY KEY (auth_provider_id);


--
-- Name: user_cv_skills user_cv_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_cv_skills
    ADD CONSTRAINT user_cv_skills_pkey PRIMARY KEY (cv_id, skill_id);


--
-- Name: user_cvs user_cvs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_cvs
    ADD CONSTRAINT user_cvs_pkey PRIMARY KEY (cv_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_cv_job_matches_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cv_job_matches_created_at ON public.cv_job_matches USING btree (created_at);


--
-- Name: idx_cv_job_matches_cv_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cv_job_matches_cv_id ON public.cv_job_matches USING btree (cv_id);


--
-- Name: idx_cv_job_matches_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cv_job_matches_job_id ON public.cv_job_matches USING btree (job_id);


--
-- Name: idx_cv_job_matches_match_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cv_job_matches_match_type ON public.cv_job_matches USING btree (match_type);


--
-- Name: idx_cv_job_matches_search_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cv_job_matches_search_group ON public.cv_job_matches USING btree (search_group);


--
-- Name: idx_jobs_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_company_id ON public.jobs USING btree (company_id);


--
-- Name: idx_jobs_experience; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_experience ON public.jobs USING btree (formatted_experience_level);


--
-- Name: idx_jobs_expiry_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_expiry_time ON public.jobs USING btree (expiry_time);


--
-- Name: idx_jobs_job_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_job_category ON public.jobs USING btree (job_category);


--
-- Name: idx_jobs_listed_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_listed_time ON public.jobs USING btree (listed_time);


--
-- Name: idx_jobs_search_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_search_group ON public.jobs USING btree (search_group);


--
-- Name: idx_jobs_skills_search; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_skills_search ON public.jobs USING gin (to_tsvector('english'::regconfig, skills_desc));


--
-- Name: idx_jobs_source_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_source_name ON public.jobs USING btree (source_name);


--
-- Name: idx_jobs_title; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_title ON public.jobs USING btree (title);


--
-- Name: idx_notification_templates_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notification_templates_active ON public.notification_templates USING btree (is_active);


--
-- Name: idx_notifications_entity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_entity ON public.notifications USING btree (entity_type, entity_id) WHERE ((entity_type IS NOT NULL) AND (entity_id IS NOT NULL));


--
-- Name: idx_notifications_user_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user_created_at ON public.notifications USING btree (user_id, created_at DESC);


--
-- Name: idx_notifications_user_is_read; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user_is_read ON public.notifications USING btree (user_id, is_read);


--
-- Name: idx_notifications_user_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user_status ON public.notifications USING btree (user_id, status);


--
-- Name: idx_salaries_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_salaries_job_id ON public.salaries USING btree (job_id);


--
-- Name: idx_user_auth_providers_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_auth_providers_user_id ON public.user_auth_providers USING btree (user_id);


--
-- Name: idx_user_cv_skills_skill_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_cv_skills_skill_id ON public.user_cv_skills USING btree (skill_id);


--
-- Name: idx_user_cvs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_cvs_user_id ON public.user_cvs USING btree (user_id);


--
-- Name: ux_notification_templates_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_notification_templates_code ON public.notification_templates USING btree (template_code);


--
-- Name: company_industries company_industries_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_industries
    ADD CONSTRAINT company_industries_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id) ON DELETE CASCADE;


--
-- Name: company_industries company_industries_industry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_industries
    ADD CONSTRAINT company_industries_industry_id_fkey FOREIGN KEY (industry_id) REFERENCES public.industries(industry_id) ON DELETE CASCADE;


--
-- Name: cv_job_matches cv_job_matches_cv_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cv_job_matches
    ADD CONSTRAINT cv_job_matches_cv_id_fkey FOREIGN KEY (cv_id) REFERENCES public.user_cvs(cv_id) ON DELETE CASCADE;


--
-- Name: cv_job_matches cv_job_matches_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cv_job_matches
    ADD CONSTRAINT cv_job_matches_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(job_id) ON DELETE SET NULL;


--
-- Name: job_benefits job_benefits_benefit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_benefits
    ADD CONSTRAINT job_benefits_benefit_id_fkey FOREIGN KEY (benefit_id) REFERENCES public.benefits(benefit_id) ON DELETE CASCADE;


--
-- Name: job_benefits job_benefits_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_benefits
    ADD CONSTRAINT job_benefits_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(job_id) ON DELETE CASCADE;


--
-- Name: job_group_skill_weights job_group_skill_weights_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_group_skill_weights
    ADD CONSTRAINT job_group_skill_weights_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id) ON DELETE CASCADE;


--
-- Name: job_skills job_skills_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(job_id) ON DELETE CASCADE;


--
-- Name: job_skills job_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id) ON DELETE CASCADE;


--
-- Name: jobs jobs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id) ON DELETE SET NULL;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: salaries salaries_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.salaries
    ADD CONSTRAINT salaries_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(job_id) ON DELETE CASCADE;


--
-- Name: user_auth_providers user_auth_providers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_auth_providers
    ADD CONSTRAINT user_auth_providers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_cv_skills user_cv_skills_cv_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_cv_skills
    ADD CONSTRAINT user_cv_skills_cv_id_fkey FOREIGN KEY (cv_id) REFERENCES public.user_cvs(cv_id) ON DELETE CASCADE;


--
-- Name: user_cv_skills user_cv_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_cv_skills
    ADD CONSTRAINT user_cv_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id) ON DELETE CASCADE;


--
-- Name: user_cvs user_cvs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_cvs
    ADD CONSTRAINT user_cvs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict hcDd5ylPkOH3H9kG2P0GY8BxLHdnB2XxaNStmNkAlh2nVhe6vrseY5ldWuzzrPa

